html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/* box-sizing: border-box; */
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}


/* END CSS RESET */



.anchor {
  display: block;
	height: 0;
  position: relative;
  top: -13vw;
  visibility: hidden;
	width: 0;
}

body {
  background-color: #b5e4fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.content-wrapper {
  min-height: 75vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-navigation {
  color: #050a0fdc;
  font-family: 'Open Sans Condensed', sans-serif;
}

.site-navigation a,
.site-navigation a:visited {
  color: #4379c0;
}

.site-navigation a:hover,
.site-navigation a:active {
  color: #050a0fdc;
}

img {
  align-self: center;
  flex-basis: 26.75vw;
  height: 33.75vw;
  object-fit: cover;
  object-position: 50% 20%;
	border-radius: 2vh;
}

h1 {
  font-size: 6.25vw;
}

h2 {
  color: #4379c0;
  font-size: 3.5vw;
}

h3 {
  font-size: 3.5vw;
  margin-bottom: 2vw;
}

.top-space {
  height: 14.5vw;
}

.covid-alert-frontpage {
  background: #fff;
  border: 1rem solid #ff7700;
  border-radius: 1.5rem;
  font-size: larger;
  line-height: 1.3em;
  margin: 0 1.5em 1.5em;
  padding: 1em;
  text-align: center;
}

.covid-alert-frontpage p ~ p {
	margin-top: .5em;
}

.patient-intake-form-alert-frontpage {
  background: #fff;
  border: 1rem solid #77ff00;
  border-radius: 1.5rem;
  font-size: larger;
  line-height: 1.3em;
  margin: 0 1.5em 1.5em;
  padding: 1em;
  text-align: center;
}

.patient-intake-form-alert-frontpage p ~ p {
	margin-top: .5em;
}

.header {
  background-color: #f0faff;
  display: flex;
  height: auto;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  padding: 1vw 1vw 1vw;
  z-index: 10;
}

.header-titles {
  flex-basis: 65vw;
  flex-grow: 1;
  text-align: center;
}

.header-titles h1 {
  position: absolute;
  left: 22vw;
  top: 4.5vw;
}

.header-titles h2 {
  position: absolute;
  left: 17vw;
}

.header-navigation {
  flex-basis: 70vw;
	margin-right: 2vw;
	text-align: right;
}

.site-navigation li {
  font-size: 2.25vw;
  line-height: 2.5vw;
}

.container {
  align-content: center;
  padding: 0 2vw 2vw;
  width: 75vw;
	margin: auto;
}

.container h4 {
  font-size: 1.75vw;
  line-height: 2.25vw;
  margin-bottom: 0.5vw;
}

.container ul {
  margin-bottom: 1.75vw;
}

.container p,
.container li {
  color: #050a0fdc;
  font-size: 1.25vw;
  line-height: 2.25vw;
}

.home {
  justify-content: center;
  display: flex;
}

.about-content {
  display: flex;
  justify-content: space-between;
}

.about-content div {
  margin: 0 1.2vw 0;
}

.about-summary {
  flex: 1;
  text-align: right;
}

.about-records {
  flex: 2;
}

.about-records li {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 2vw;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact-content {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.container-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container-heading h3 {
  align-self: flex-start;
}

.container-heading hr {
  border: 1px solid #050a0f80;
  flex-grow: 1;
  margin: 0 1.25vw 0;
  position: relative;
  top: 1vw;
  flex-basis: 37vw;
}

.footer p {
  color: #6c9db68a;
  font-size: 0.75vw;
  line-height: 1vw;
  margin: 2vw 0 2vw;
  text-align: center;
  width: 100vw;
}

.topnav {
  visibility: hidden;
  height: 0;
}

.post-header {
  background-color: #4379c0;
  width: 100vw;
  padding: 5vw 0 1vw;
  position: relative;
  top: -5vw;
}

.post-header h3 {
  color: #f0faff;
  font-size: 5vw;
  text-align: center;
}

.post-container {
  align-self: center;
  margin: auto;
  position: relative;
  text-align: center;
  top: -3vw;
  width: 85vw;
}

.post-container h4 {
  font-size: 3vw;
  line-height: 4vw;
	margin-bottom: 1vw;
	margin-top: 5vw;
}

.post-container li {
  border-top: 1px solid #4379c077;
  font-size: 1.75vw;
  line-height: 3vw;
  margin-top: 0;
  padding-top: 1vw;
}

.post-container p {
	font-size: 1.5vw;
	line-height: 2.25vw;
	margin-top: 1.5vw;
	text-align: center;
}

.post-container .paragraph-list-items {
	border: none;
	margin-left: 3vw;
	margin-top: 0.75rem;
	font-size: 1.5vw;
	line-height: 2.25vw;
	text-align: left;
}

.post-container a {
	color: #0000ee;
}

.post-container a:hover,
.post-container a:active {
  color: #f0faff
}

.post-paragraph-container {
	border-top: 1px solid #4379c077;
}

.sublist {
	border-left: 1px dotted #4379c077;
	border-right: 1px dotted #4379c077;
	margin: auto;
	padding: 0 2vw 1vw;
	width: 60vw;
}

.sublist h4 {
	color: #050a0fa0;
	font-size: 2vw;
  line-height: 3vw;
	margin-top: 0;
}

.sublist a {
	color: #0000eed7;
	font-size: 1.5vw;
  line-height: 2.25vw;
}

.sublist li {
	border-top: 1px dotted #4379c077;
}

.post-container .disclaimer {
	border-top: 1px dotted #050a0f80;
	color: #050a0fdc;
	margin: 3vw auto 0;
	padding-top: 1vw;
	text-align: center;
	width: 70vw;
}

.drop-trigger::after {
	border: 0.75vw solid;
	border-color: #4379c0 transparent transparent;
	content: "";
	height: 0;
	position: relative;
	right: -0.5vw;
	top: 2vw;
	width: 0;
}

.dropdown:hover .drop-menu,
.dropdown:active .drop-menu {
	max-height: 100vh;
}

.drop-menu {
	max-height: 0;
	overflow: hidden;
	padding: 0;
	transition: all 0.5s ease-in-out;
}

.mobile-menu-checkbox {
	display: none;
}

.mobile-menu-label {
	display: none;
}

.dropdown .drop-trigger:hover {
	color: #4379c0;
}








/* BEGIN MOBILE STYLING */

@media (max-width: 600px) {
	.site-navigation {
		max-height: 0;
		overflow: hidden;
	}

	.drop-trigger {
		display: none;
	}

	.drop-menu {
		display: inline;
	}

	.mobile-menu-checkbox:checked ~ .site-navigation {
		background-color: #d7f2ff;
		max-height: 100vh;
		padding: 2vw 0 2vw;
		position: absolute;
		right: 1vw;
		text-align: center;
		transition: all 0.5s ease-in-out;
		top: 21vw;
		width: 100vw;
	}

	.site-navigation li {
		padding: 1vh 0 1vh;
	}

	.site-navigation .dropdown {
		padding: 0 0 1vh;
	}

	.mobile-menu-label {
		border: 1px solid #4379c077;
		border-radius: 3vw;
		color: #4379c0;
		display: block;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 6vw;
		padding: 2vw;
		position: absolute;
		right: 2vw;
		top: 3.5vh;
		transition: all 0.5s ease-in-out;
	}

	.mobile-menu-checkbox ~ .mobile-menu-label:before {
		content: "MENU";
	}

	.mobile-menu-checkbox:checked ~ .mobile-menu-label:before {
		content: "";
	}

	.mobile-menu-checkbox:checked ~ .mobile-menu-label {
		background-color: #d7f2ff;
		transition: all 0.5s ease-in-out;
	}

	.mobile-menu-checkbox:checked ~ .mobile-menu-label:after {
		content: "CLOSE";
	}

	.anchor {
	  top: -14vh;
	}

  .top-space {
    height: 27vw;
  }

  .header {
    flex-direction: column;
  }

  .header {
    height: 19vw;
  }

  .header-titles {
    flex-basis: 12vh;
  }

  .header-titles h1 {
    font-size: 9vw;
    left: 4vw;
    top: 9vw;
  }

  .header-titles h2 {
    font-size: 6vw;
    left: 12vw;
    top: 2vw;
  }

  .header-navigation {
    align-self: flex-end;
    flex-basis: 0;
		margin: 0 1vw 0;
		z-index: 200;
  }

	.header-navigation li {
		font-size: 4.5vw;
		line-height: 5vw;
	}

	.header-navigation a:active {
		color: #050a0fdc;
	}

  img {
    flex-basis: 53.5vw;
    height: 67.5vw;
  }

  .container,
  .contact-content {
    width: 85vw;
  }

  .about-content {
    flex-direction: column;
  }

  .about-summary p {
    margin: 0 0 5vh;
  }

  .container h3 {
    align-self: center;
    font-size: 6vh;
    line-height: 8vh;
  }

  .container h4 {
    font-size: 4vh;
    line-height: 7vh;
  }

  .container p {
    font-size: 3vh;
    line-height: 6vh;
    text-align: center;
  }

  .container li {
    font-size: 3vh;
    line-height: 6vh;
  }

  .container-heading {
    flex-direction: column;
  }

  .container-heading hr {
    flex-basis: 10vh;
    order: 1;
    transform: rotate(90deg);
    padding: 0;
    margin: 0;
  }

  .container-heading h3 {
    order: 2;
  }

  .post-header {
    top: -5vh;
  }

  .post-header h3 {
    font-size: 8vw;
		line-height: 10vw;
    text-align: center;
  }

  .post-container {
    text-align: center;
    top: -4vh;
    width: 85vw;
  }

  .post-container h4 {
    font-size: 4.5vh;
    line-height: 5.5vh;
		margin-top: 7vh;
  }

	.post-container h4:first-child {
		margin-top: 3.5vh;
	}


  .post-container li {
    border-top: 1px solid #4379c077;
    margin-top: 1vh;
    padding-top: 1vh;
    font-size: 2.5vh;
    line-height: 4vh;
  }

	.post-container p {
		font-size: 2.75vh;
		line-height: 4.25vh;
		text-align: center;
	}

	.post-container a {
		color: #0000ee;
		font-size: 2.75vh;
		line-height: 4.25vh;
	}

	.post-container .paragraph-list-items {
		margin-top: 2vh;
		font-size: 3vh;
		line-height: 5vh;
	}

	.sublist {
		border-left: 1px dotted #4379c077;
		border-right: 1px dotted #4379c077;
		margin: auto;
		padding: 0 2vw 0;
		width: 60vw;
	}

	.sublist h4 {
		color: #050a0fa0;
		font-size: 3.5vh;
		line-height: 4.5vh;
		margin-top: 0vh;
	}

	.sublist a {
		color: #0000eed7;
		font-size: 2.5vh;
		line-height: 4vh;
	}

	.sublist li {
		border-top: 1px dotted #4379c077;
	}

	.post-container .disclaimer {
		font-size: 2vh;
		line-height: 3vh;
		margin-top: 17vh;
	}

  .footer p {
    font-size: 2vh;
    line-height: 3vh;
    margin: 3vh 0 3vh;
  }

}
